:root {
    --font-serif: "Forum", serif;
    --font-sans: "Inter", sans-serif;
  
    --color-marron: #5a3d2b;
    --color-marron2: #3a2a25;
    --color-gris: #b8b8b0;
    --color-creme: #f3ece4;
    --color-black: #000000;
    --color-white: #ffffff;
  }
  